<h3 class="panel-heading">Forms</h3>
<div class="panel-body" ng-controller="formsCtrl">
    <div>
        <form method="post" id="form1" name="form1" novalidate>
            
            <div class="center-div well">
                <div class="form-group row">
                    <label for="inputEmail1" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" name="email1" class="form-control" id="inputEmail1" placeholder="Email" multiple-coincide="multi1" ng-model="email1"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail2" class="col-sm-2 col-form-label" >Email</label>
                    <div class="col-sm-10">
                        <input type="text" name="email2" class="form-control" id="inputEmail2" placeholder="Email" multiple-coincide="multi1" ng-model="email2"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" name="email3" class="form-control" id="inputEmail3" placeholder="Email" multiple-coincide="multi1" ng-model="email3"/>
                    </div>
                </div>
            </div>

            <div class="center-div well">
                <div class="form-group row">
                    <label for="inputEmail4" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" name="email1" class="form-control" id="inputEmail4" placeholder="Email" multiple-coincide="multi2" ng-model="email4" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail5" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" name="email2" class="form-control" id="inputEmail5" placeholder="Email" multiple-coincide="multi2" ng-model="email5" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail6" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" name="email3" class="form-control" id="inputEmail6" placeholder="Email" multiple-coincide="multi2" ng-model="email6" />
                    </div>
                </div>
            </div>

            <div class="center-div well">
                <input type="date" name="name" value="" class="form-control" />
                <input type="number" name="name" value="" class="form-control"/>
            </div>
            <div class="center-div well">
                <input type="text" name="name" value="" class="form-control" />
                <input type="text" name="name" value="" class="form-control" />
            </div>
            <div class="center-div well">
                <input type="submit" name="name" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>